body{
    margin:0;
    padding: 0;
    font-size: 18px;
    font-family:'Open Sans';
    font-weight: 400;
}

h1,h2,h4{
    font-weight:600;
    font-family: 'Poppins';
    font-size:30px;
    color: rgb(0, 37, 46);
}

h3{
    color: rgb(0, 37, 46);
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav img{
    margin-right:auto;
    cursor: pointer;
    width:160px;
}

button{
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight:bold;
}

nav button{
    background-color:white;
    text-decoration:none;
    padding: 10px 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.19);
}

header{
    background-color: rgb(235, 251, 255);
    background-repeat: no-repeat;
    color: rgb(0, 37, 46);
    padding: 30px 60px;
}

.bottom2{
    background-color:rgb(255, 82, 191);
    padding: 12px 30px;
    color:white;
    margin-bottom: 20px;
}

main{
    margin-top:50px;
    display:grid;
    grid-gap: 3em;
    margin-left:25px;
    margin-right:25px;
}

main > section{
    display: grid;
    /* grid-column-gap: 60px !important; */
}

main img{
    width:100%;
}

footer{
    background-color:rgb(0, 37, 46);
    color:white;

    margin-top:190px;
}


footer{
    position: relative;
}

section.section4 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(130, 153, 153);

    position: absolute;
    top:-86px;
    left:360px;
    right:360px;
    height:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section p{
    color:rgb(126, 125, 125);
}

footer img{
    filter: brightness(0) invert(1);
}

footer li, footer a{
    color:white;
    text-decoration: none;
}

footer ul{
    list-style: none;
    /* padding-left:0;  */
}

article.paragraph1, article.paragraph2, article.paragraph3{
    display: flex;
}

article.paragraph1 > img ,article.paragraph2 > img, article.paragraph3 > img{
    margin-right:35px;
    margin-top:25px;
    height: 100%;
}

@media (min-width: 768px){
    header{
        background-image: url('images/bg-hero-desktop.svg');
    }
    header > article{
        margin-top:110px;
        display:flex;
        align-items: center;

    }

    header > article > article{
        padding: 10px;
    }

    .box1{
        width:100%;
        flex:1.5;
    }

    .box2{
        flex:2;
    }

    .box2 > img{
        padding-left:10%;
        width:90%;
    }

    main{
        margin-left:55px;
        margin-right:55px;
        border: white 1px solid;
        border-radius: 8px;
        box-shadow: 0 0 10px 1px rgb(130, 153, 153);
        padding-top:90px;
        padding-left:40px;
        padding-right:40px;
       
    }

    main > section{
        grid-gap: 30px;
    }

    main > section > article, main > section > img{
        /* border: red 1px solid; */
    }

    main > section.section1 > article, main > section.section3 > article{
        grid-column: 1;
        grid-row: 2;
    }

    main > section.section1 > img, main > section.section3 > img{
        grid-column: 2;
        grid-row: 1/4;
    }

    main > section.section2 > img{
        grid-column: 1;
        grid-row: 1/4;
    }
    main > section.section2 > article{
        grid-column: 2;
        grid-row: 2;
    }

    .section5{
        padding: 80px 80px;
        display: grid;
        /* justify-items: center; */
    }

    .section5 > article, .section5 > .imageFooter1, .section5 > ul.footerNav1, .section5 > ul.footerNav2, .section5 > p.final, .section5 > div.icons, .section5 > p.attribution{
    
        /* border: #333 1px solid; */
    } 

    .section5 > .imageFooter1{
        grid-row: 1;
        grid-column: 1;
    }

    .section5 > article.paragraph1{
        grid-row: 2;
        grid-column: 1/2;
    }
    .section5 > article.paragraph2{
        grid-row: 3;
        grid-column: 1;
    }
    .section5 > article.paragraph3{
        grid-row: 4;
        grid-column: 1;
    }


    article.paragraph1 > img{
        height: 20%;
    }

    article.paragraph2 > img{
        height: 20%;
    }

    .section5 > ul.footerNav1{
        grid-column: 2/3;
        grid-row: 2;
        justify-self: center;

    }

    .section5 > ul.footerNav2{
        grid-column: 3/4;
        grid-row: 2; 
        justify-self: center;  
    }

    .section5 > div.icons{
        grid-column: 5/6;
        grid-row: 2; 
        justify-self: center;  
        padding-top:40px; 
    }

    .section5 > p.final{
        grid-row:5;
        grid-column: 5;
    }

    .section5 > p.attribution{
        grid-row:7;
        grid-column: 2;
    }

    footer{
        height:700px;
        position:relative;
    }

    footer > .section5{
        position: absolute;
        bottom: 0;
    }
}



@media (max-width: 768px){
    header{
        background-image: url('images/bg-hero-mobile.svg');
    }
    header > article{
        margin-top: 100px;
        text-align: center;
    }

    .box2 > img{
        width:100%;
    }

    main > section{
        border: white 1px solid;
        border-radius: 25px;
        box-shadow: 0 0 10px 1px rgb(130, 153, 153);
    }

    main > section p{
        color:rgb(126, 125, 125);
    }

    main > section > article, main > section > img{
        /* border: red 1px solid; */
    }

    section.section1 > article, section.section2 > article, section.section3 > article{
        grid-column: 1/4;
        grid-row:2;
        text-align: center;
        padding-top:50px;

    }

    section.section1 > img, section.section2 > img, section.section3 > img{
        grid-column: 2;
        grid-row:1;
    }


    /* footer{
        position: relative;
    } */

    section.section4 {
        height:160px;
        left:25px;
        right:25px;

    }

    section.section5{
        padding-top:120px;
    }

    .section5{
        padding: 10px 40px;
    }

    footer ul{
        padding-left:0; 
    }
    
    /* article.paragraph1, article.paragraph2, article.paragraph3{
        display: flex; */
        /* display: inline; */
    /* } */
    
    /* article.paragraph1 > img ,article.paragraph2 > img, article.paragraph3 > img{
        margin-right:35px;
        margin-top:25px;
        height: 100%;
    } */

    p.final{
        text-align: center;
    }
    
    .icons{
        text-align: center; 
    }

}


@media (min-width: 768px) and (max-width:1230px){

    section.section4 {
        height:160px;
        left:75px;
        right:75px;
    }    

}



/* 2 part */

/*

header > article > button{
    background-color: rgb(255, 82, 191);
    color:white;
    font-weight:bold;
}

header > article{
    display:grid;
}

@media(max-width: 768px){

    header{
        background-image:url("images/bg-hero-mobile.svg");
    }

    header > article{
        position:relative;
        top:35px;
        text-align: center;
    }

    header > article > p{
        padding-left:110px;
        padding-right:110px;
    }

    header > article > img{
        width:100%;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    header > article > button{
        margin-left: 150px;
        margin-right: 150px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

}


@media (min-width: 768px){
    header{
        background-image: url('images/bg-hero-desktop.svg');
    }
    header > article {
       grid-template-columns: repeat(2,1fr);
    }
}*/



/* 1 part */


/* h1,h2,h3{
    font-weight: 600;
    font-family: "Poppins";
}

@media (min-width: 375px) and (max-width: 1440px){
    header{
        background-color: rgb(235, 251, 255);
        background-image:url("images/bg-hero-desktop.svg");
    }
}

@media(max-width: 375px){
    header{
        background-color: rgb(235, 251, 255);
        background-image:url("images/bg-hero-mobile.svg");
    }
}

header, main,footer{
    padding-left:50px;
    padding-right:50px;
}

header{
    padding-top:50px;
}

header>nav, header>article{
    display: grid;
}

nav span{
    grid-area: 1/85;

}

.bottom{
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 1.5px 2px 5px #aaaaaa;
    font-weight:700;
}

header>article{
    margin-top:80px;
    grid-column-gap:40px;
    grid-template-rows: auto auto auto auto auto auto;
}

header>article>img{
    grid-area: 1/3 / span 5/ span 6;
    width:600px;
}

header>article>h1{

    grid-area: 2/1;
}

header>article>p{

    grid-area: 3/1 / span 1 / span 2;

}

header>article>button{
    grid-area: 4/1 / span 1 / span 1;
    background-color:rgb(255, 82, 191) !important;
    color:white;
    border-radius: 24px !important;
}
 */
