body{
    margin:0;
    padding: 0;
    font-size: 18px;
    font-family:'Open Sans';
    font-weight: 400;
}

h1,h2,h3,h4{
    font-weight:600;
    font-family: 'Poppins';
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav img{
    margin-right:auto;
    cursor: pointer;
    width:160px;
}

button{
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

nav button{
    background-color:white;
    text-decoration:none;
    padding: 10px 40px; 
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.19);
}

header{
    background-color: rgb(235, 251, 255);
    background-repeat: no-repeat;
    color: rgb(0, 37, 46);
    padding: 30px 60px;
}

header > article > button{
    background-color: rgb(255, 82, 191);
    color:white;
    font-weight:bold;
}

header > article{
    display:grid;
}

/* @media (min-width: 768px) and (max-width: 1440px){ */

@media(max-width: 768px){

    header{
        background-image:url("images/bg-hero-mobile.svg");
    }

    header > article{
        position:relative;
        top:35px;
        text-align: center;
    }

    header > article > p{
        padding-left:110px;
        padding-right:110px;
    } 

    header > article > img{
        width:100%;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    header > article > button{
        margin-left: 150px;
        margin-right: 150px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

}


@media (min-width: 768px){
    header{
        background-image: url('images/bg-hero-desktop.svg');
    }
    header > article {
       grid-template-columns: repeat(2,1fr); 
    }
}


/* h1,h2,h3{
    font-weight: 600;
    font-family: "Poppins";
}

@media (min-width: 375px) and (max-width: 1440px){
    header{
        background-color: rgb(235, 251, 255);
        background-image:url("images/bg-hero-desktop.svg");
    }
}

@media(max-width: 375px){
    header{
        background-color: rgb(235, 251, 255);
        background-image:url("images/bg-hero-mobile.svg");
    }
}

header, main,footer{
    padding-left:50px;
    padding-right:50px;
}

header{
    padding-top:50px;
}

header>nav, header>article{
    display: grid;
}

nav span{
    grid-area: 1/85;

}

.bottom{
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 1.5px 2px 5px #aaaaaa;
    font-weight:700;
}

header>article{
    margin-top:80px;
    grid-column-gap:40px;
    grid-template-rows: auto auto auto auto auto auto;
}

header>article>img{
    grid-area: 1/3 / span 5/ span 6; 
    width:600px;
}

header>article>h1{

    grid-area: 2/1;
}

header>article>p{

    grid-area: 3/1 / span 1 / span 2;

}

header>article>button{
    grid-area: 4/1 / span 1 / span 1;
    background-color:rgb(255, 82, 191) !important;
    color:white;
    border-radius: 24px !important;
}
 */
